[submodule "bcast"]
	path = bcast
	url = git@github.com:multisens/BcastService.git
[submodule "infra"]
	path = infra
	url = https://github.com/multisens/Infra.git
[submodule "aop"]
	path = aop
	url = https://github.com/multisens/AOP.git
[submodule "ccws"]
	path = ccws
	url = https://github.com/multisens/CCWS.git
