[submodule "eduplay"]
	path = eduplay
	url = https://github.com/motadv/eduplay.git
[submodule "sepe"]
	path = sepe
	url = https://github.com/motadv/se-presentation-engine.git
[submodule "bcast"]
	path = bcast
	url = git@github.com:multisens/BcastService.git
[submodule "utils"]
	path = utils
	url = https://github.com/multisens/TV30-Utils.git
[submodule "infra"]
	path = infra
	url = https://github.com/multisens/Infra.git
[submodule "aop"]
	path = aop
	url = https://github.com/multisens/AOP.git
[submodule "ccws"]
	path = ccws
	url = https://github.com/multisens/CCWS.git
