<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/all.css">
        <style>
            :root {
                --base-size: 1vw; /* Unidade base baseada na largura da viewport */
            }

            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                height: 100%;
                font-family: Verdana;
                background-color: rgb(40, 40, 40);
            }

            .main {
                position: relative;
                width: 100vw;
                height: 100vh;

                > * {
                    position: absolute;
                    display: block;
                    border: none;
                }
            }

            #instruction {
                color: rgb(255,255,255);
                font-size: calc(1.3vw + 0.5vh);
                top: 2%;
                left: 7%;
            }

            #disclaimer {
                color: rgb(183,183,183);
                font-size: calc(0.7vw + 0.4vh);
                text-align: center;
                top: 85%;
                left: 0;
                width: 100%;
                transform: translateY(-100%);
                line-height: 1.3;
            }

            #profiles {
                left: 5%;
                top: 20%;
                width: 90%;
                height: 60%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 1vw;

                .card {
                    background-color: rgb(45, 45, 45);
                    color: rgb(200,200,200);
                    border-radius: 1vh;
                    flex-basis: 15%;
                    height: 45%;
                    align-items: center;
                    text-align: center;
                    display: grid;
                    gap: 1vw;
                    grid-template-columns: 100%;
                    grid-template-rows: 2fr 1fr;
                    font-size: calc(1vw + 0.5vh);

                    img {
                        width: 50%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .focused {
                outline: 2px solid rgb(200, 200, 200);
            }
        </style>
        <script src="/js/jquery-3.7.1.min.js"></script>
        <script src="/js/navigation.js"></script>
    </head>
    <body>
        <div class="main">
            <span id="instruction">Switch to another Over-the-air Viewer Profile</span>
            
            <div id="profiles">
                <%- cards %>
            </div>

            <span id="disclaimer">In compliance with the General Data Protection Regulation (GDPR), each broadcaster will ask <br/> your permission if they wish to use your profile data or collect other personal data</span>
        </div>
    
        <script>
            document.addEventListener('keydown', (e) => {navigate(e.key)});
            
            function createProfile() {
                fetch('<%= basepath %>/create');
            }

            function selectProfile(uid) {
                fetch(`<%= basepath %>/select?id=${uid}`);
            }
        </script>
  </body>
</html>