# Sets the host address of the MQTT broker. The default is 'localhost'.
# MQTT_HOST=

# Sets the port in which the node server will listen HTTP calls. The default is 44642.
# HTTP_PORT=

# Sets the port in which the node server will listen HTTPS calls. The dafault is 44643
# HTTPS_PORT=

# Sets the webservice discovery metadata values. Otherwise the following generic values are used.
# BRAND_NAME='GenericBrand'
# MODEL='GenericModel'
# FRIENDLY_NAME='TV 3.0 Receiver'
# UDN='uuid:TV30-1234-5678-9012-345678901234'

# Sets the RSA key and X.509 certificate files for HTTPS calls. To generate the key and certificate use:
# openssl req -newkey rsa:2048 -nodes -keyout server.key -x509 -days 365 -out server.crt
# and convert the files to base64
# HTTPS_KEY='server.key_in_base64'
# HTTPS_CERT='server.crt_in_base64'

# Sets the secret and issuer info to be used in access token creation. Otherwise the following generic values are used.
# JWT_SECRET='0123456789'
# JWT_ISSUER='GenericIssuer'

# Sets the logging level for the BCastService server.
# The available logging levels are 'ERROR' < 'INFO' < 'DEBUG'.
# The default is 'ERROR'.
# LOG_LEVEL=